header {
    position: relative;
    width: 100%;
    background-color: aqua;
    
}

header .logo {
    position: relative;
    width: auto;
    background-color: gray;
    color: white;
}

header .Search Bar {
    position: relative;
    left: 500px;
}

header .Search Bar #Search {
    width: 100%;

}